[color]
	ui = true
	status = auto
	diff = auto
	branch = auto
	interactive = auto
	grep = auto
[core]
	excludesfile = ~/.gitignore
  editor = vim
[alias]
	log-graph = log --graph --date=short --pretty=format:'%Cgreen%h %cd %Cblue%cn %Creset%s'
	log-all = log --graph --all --color --pretty='%x09%h %cn%x09%s %Cred%d%Creset'
	delete-merged-branches = !git branch --merged | grep -v \\* | xargs -I % git branch -d %
	showpr = "!f() { git log --merges --oneline --reverse --ancestry-path $1...master | grep 'Merge pull request #' | head -n 1; }; f"
  releases = log --merges --oneline --reverse --first-parent --pretty=format:'* %s' master..develop
[user]
	name = 346
  email = flytalez@gmail.com
[push]
	default = simple
; [merge "gemfilelock"]
  ; name = relocks the gemfile.lock
  ; driver = bundle install
